# some extra switching talk: https://www.reddit.com/r/HelixEditor/comments/1bq8w7s/switching_to_helix/
# in there is this gem: https://github.com/DoctorRyner/helix; adds some extra features to helix (but not up-to-date w/ nigtly)
# https://www.youtube.com/playlist?list=PL4AR7tbGuBH5AzV0tPpTfYgGIF5vk3HN2 helix tutorial & config yt series
# plugin branch: https://github.com/helix-editor/helix/pull/8675 (using this currently)
# evil helix: helix with vim bindings: https://github.com/usagi-flow/evil-helix
# https://github.com/helix-editor/helix/blob/master/languages.toml # lsp
# https://docs.helix-editor.com/keymap.html # current keymap

# IMPORTANT: this is not a cross-platform config, make sure to edit the platform specific settings

theme = "merionette"

# EDITOR

[editor]
line-number = "relative"
bufferline = "always"
color-modes = true
cursorline = true
rulers = [100]
true-color = true
end-of-line-diagnostics = "hint" # Minimum severity to show a diagnostic after the end of a line
# https://github.com/helix-editor/helix/discussions/6209 well its not goint to be unix compliant this way
mouse = false

shell = ["pwsh.exe","-NoLogo","-NoProfile","-NoProfileLoadTime","-Command","$PSStyle.OutputRendering='PlainText';"]

[editor.inline-diagnostics]
cursor-line = "error" # Show inline diagnostics when the cursor is on the line
other-lines = "disable" # Don't expand diagnostics unless the cursor is on the line

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
character = "╎"
render = true

[editor.statusline]
left = ["mode", "spinner", "version-control", "file-name"]

# KEYS
# defaults: https://docs.helix-editor.com/keymap.html

[keys.normal]
# j = "move_char_left"
# k = "move_visual_line_down"
# l = "move_visual_line_up"
# "é" = "move_char_right"
"," = "collapse_selection"
# "ret" = ["open_below","normal_mode","move_visual_line_up"]
A-x = "extend_to_line_bounds"
X = "select_line_above"
C-g = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
"C-space" = ":write"
# alt-gr keybinds dont work (WINDOWS), so you have to re-add them to alt keybinds
"A-í" = "unindent"
"A-y" = "indent"

# https://github.com/helix-editor/helix/discussions/5764
"A-j" = [
"extend_to_line_bounds",
"delete_selection",
"paste_after",
"select_mode",
"goto_line_start",
"normal_mode",
] # Move line(s) down
"A-k" = [
"extend_to_line_bounds",
"delete_selection",
"move_line_up",
"paste_before",
"flip_selections",
] # Move line(s) up

# yazi file explorer (without file pick)
# C-y = [":new", ":insert-output yazi", ":buffer-close!", ":redraw"]
# windows (file pick)
C-y = [
  ':sh del C:\users\penzboti\yazihx.txt',
  ':insert-output yazi.exe --chooser-file=C:\Users\penzboti\yazihx.txt',
  ':open %sh{type C:\Users\penzboti\yazihx.txt}',
  ':redraw',
]
# linux (file pick)
# C-y = [
#   ':sh rm -f /tmp/yazihx',
#   ':insert-output yazi %{buffer_name} --chooser-file=/tmp/yazihx',
#   ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty', # what is this for again?
#   ':open %sh{cat /tmp/yazihx}',
#   ':redraw',
# ]

[keys.select]
# you can't change 'special' mode keybindings
A-x = "extend_to_line_bounds"
X = "select_line_above"
