@import url("./colors.css");

/* GLOBALS */

* {
  border: none;
  border-radius: 2px;
  font-family: JetBrains Mono, FontAwesome;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: @background-darker;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: @background;
  border: 1px solid @selection;
}

tooltip label {
  color: @foreground;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 2px;
}

button:hover {
  background-color: inherit;
  box-shadow: inset 0 -3px @foreground;
}

/* LEFT MODULES */

#workspaces button {
  all: unset;
  padding: 0 7px;
  background-color: @background-darker;
  color: @foreground;
  font-size: 8px;
}

#workspaces button.active {
  background-color: white;
  border-radius: 10px;
  color: black;
  min-width: 20px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  /* background-image: linear-gradient(0deg, @selection, @background-darker); */
  background-color: @selection;
}

#workspaces button.focused {
  background-image: linear-gradient(0deg, @purple, @selection);
  box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
  background-image: linear-gradient(0deg, @red, @background-darker);
}

#window,
#workspaces {
  margin: 0 4px;
}

/* #mode { */
/* background-color: @background; */
/* box-shadow: inset 0 -2px @foreground; */
/* } */

#mpris {
  background-color: @background;
  color: @foreground;
}

#tray {
  background-color: @comment;
  color: @foreground;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @background-darker;
}

/* RIGHT MODULES */

#mpris,
#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#disk,
#idle_inhibitor,
#scratchpad,
#mode,
#battery,
#backlight,
#language,
#tray {
  padding: 0 10px;
  margin: 5px 1px;
  color: @foreground;
  font-weight: bold;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

label:focus {
  background-color: @background-darker;
}

#language {
  background-color: @color00;
  color: @text;
}

#bluetooth {
  background-color: @color01;
  color: @text;
}

#network {
  background-color: @color02;
  color: @text;
}

#network.disconnected {
  background-color: @red;
  color: @text;
}

#battery {
  background-color: @color03;
  color: @text;
}

#backlight {
  background-color: @color06;
  color: @text;
}

#pulseaudio {
  background-color: @color08;
  color: @text;
}

#pulseaudio.muted {
  color: @text_dark;
}

#clock {
  background-color: @color09;
  color: @text_dark;
}


/* #cpu { */
/*   background-color: @yellow; */
/*   color: @background-darker; */
/* } */

/* #memory { */
/*   background-color: @yellow; */
/*   color: @background-darker; */
/* } */

/* #disk { */
/*   background-color: @orange; */
/*   color: @background-darker; */
/* } */

/* #temperature { */
/*   background-color: @pink; */
/*   color: @background-darker; */
/* } */
/**/
/* #temperature.critical { */
/*   background-color: @red; */
/*   color: @background-darker; */
/* } */

/* #idle_inhibitor { */
/*   background-color: @background; */
/*   color: @foreground; */
/* } */
/* #idle_inhibitor.activated { */
/*   background-color: @foreground; */
/*   color: @background; */
/* } */

/* #scratchpad { */
/* background-color: @background; */
/* color: @foreground; */
/* } */
/* #scratchpad.empty { */
/* background-color: transparent; */
/* } */